asgiref==3.8.1
coverage==7.6.7
Django>=4.2,<5.0
mssql-django==1.5
pillow==11.0.0
pyodbc==5.2.0
pytz==2024.2
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
mysqlclient>=2.1.0
gunicorn
django-heroku


